body {
  background-color: #d4d4d4;
  padding: 0;
  margin: 0;
  border-width: 0;
  height: 100%;
}

/*Ripple*/
.ripple {
  width: 25px;
  height: 25px;
  opacity: 0;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: fixed;
}

/*Animate Function*/
.animate {
  animation: ripple-mo 2s cubic-bezier(0, 0, 0.2, 1);
}
@keyframes ripple-mo {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}



h1 {
  font-size: 60px;
  text-shadow: 2px 2px 10px #aaa;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s linear;
}

a:hover {
  color: black;
}

#headwrapper {
  font-size: 60px;
  text-shadow: 2px 2px 10px #aaa;
  padding: 0;
  text-align: center;
  font-family: "Beth Ellen", cursive;
  transition: color 4s linear, letter-spacing 4s linear;
  color: black;
}

#headwrapper:hover {
  color: white;
  letter-spacing: 20px;
}

#tag-line{
      font-family: "Rationale", sans-serif;
      font-size: 36px;
      text-align: center;
      filter: url("#turbulence");
}

#tag-line p{
  margin-top: 0;
/*   margin-bottom: 0; */
}

#click-sound {
/*   font-family: "Beth Ellen", cursive; */
    font-family: "Rationale", sans-serif;
  font-style: italic;
/*   font-weight: 100; */
  text-align: center;
  margin-top: 0;
  z-index: 1;
  transition: color 4s linear, letter-spacing 4s linear;
}

#click-sound p {
  margin-top: 0;
}

#click-sound:hover {
  color: white;
  letter-spacing: 8px;
}

#clock {
  text-align: center;
  padding: 10em, 10em;
  top-margin: 2em;
  bottom-margin: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.left{
  flex: 30%;
}

.middle{
  flex: 35%;
}

.right{
  flex: 30%;
}

.artist {
  width: auto;
  font-family: "Rationale", sans-serif;
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  top-margin: 0;
  bottom-margin: 0;
  left-padding: 0;
  opacity: 0.8;
  position: relative;
  z-index: 1;
}
 
#scoobert {
  width: 7em;
  animation-name: scoobert;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

#lenkie {
  width: 3em;
  animation-name: lenkie;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

#cherry {
  width: 5.5em;
  animation-name: cherry;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.releases {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  float: center;
  font-family: "Rationale", sans-serif;
  font-weight: 300;
  padding: 1em;
  text-align: center;
  border: 1px solid white;
  background: #d4d4d4;
  overflow: auto;
  opacity: 50%;
  z-index: 1;
  transition: opacity 0.3s linear;
  animation-name: boxes;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.releases:hover {
  opacity: 90%;
}

.releases h2 {
  font-family: "Beth Ellen", cursive;
  font-size: 30px;
  font-weight: bold;
  padding-top: 0;
  margin-top: 0;
}

.releases p {
  font-size: 24px;
}

#email {
  transform: rotate(90deg);
  font-family: "Beth Ellen", cursive;
  background-color: black;
  width: auto;
  height: auto;
  position: fixed;
/*   padding: 0 1em 0.1em 1em; */
  padding-left: .5em;
  padding-right: .5em;  
/*   margin: 10px; */
  float: right;
  opacity: 0.5;
  transition: background-color 0.3s linear;
  animation-name: email;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

#email:hover {
  background-color: white;
}

#pics {
  display: flex;
  flex-flow: space-evenly;
  align-items: flex-end;
  position: fixed;
  bottom: 10px;
  width: 100%;
  z-index: -1;
}

#tornado {
  float: left;
  bottom: 0;
  allign: bottom;
  position: fixed;
  transition: filter 0.15s linear;
  max-height: 100px;
  width: auto;
  z-index: -2;
}

#skeleton {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0;
  position: fixed;
  float: right;
  max-height: 300px;
  width: auto;
  transition: filter 0.15s linear;
  z-index: -1 !important;
}

#foot-wrapper {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  /*   position: fixed; */
  left: 0;
  bottom: -3px;
  width: 100%;
  color: white;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
/*   padding-top: 100px; Location of the box */
  left: 25%;
  top: 25%;
  width: 50%; /* Full width */
/*   height: 50%; /* Full height */ */
  margin: auto;
/*   opacity: 0.9; */
  overflow: scroll; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.close{
  font-family: "Rationale", sans-serif;
  color: white;
  cursor: pointer;
  text-align: right;
  margin-top: 5px;
  margin-right: 5px;
}

/* Modal Content (image) */
.modal-content {
    font-family: "Rationale", sans-serif;
  text-align: center;
/*   line-height: 1.5; */
  display: block;
/*   width: 50%; */
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  color: white;
  font-size: 30px;
}

.modal-content a{
  text-decoration: none;
  color: lightblue;
}

/* Add Animation */
.modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal-pic{
  display: block;
  margin-left: auto; 
  margin-right: auto;
  max-width: 100%;
}


/* ----------------animations -----------------*/

@keyframes scoobert {
  0% {
    background-color: gray;
    left: 50%;
  }
  25% {
    background-color: skyblue;
    left: 50%;
  }
  50% {
    background-color: gray;
    left: 0;
  }
  75% {
    background-color: skyblue;
    left: 0;
  }
  100% {
    background-color: gray;
    left: 50%;
  }
}

@keyframes lenkie {
  0% {
    background-color: gray;
    left: 0;
  }
  25% {
    background-color: skyblue;
    left: 50%;
  }
  50% {
    background-color: slategray;
    left: 50%;
  }
  75% {
    background-color: skyblue;
    left: 0;
  }
  100% {
    background-color: gray;
    left: 0;
  }
}

@keyframes cherry {
  0% {
    background-color: skyblue;
    left: 50%;
  }
  25% {
    background-color: gray;
    left: 0;
  }
  50% {
    background-color: skyblue;
    left: 50%;
  }
  75% {
    background-color: gray;
    left: 0;
  }
  100% {
    background-color: skyblue;
    left: 50%;
  }
}

@keyframes boxes {
  0% {
    background-color: skyblue;
  }
  25% {
    background-color: deepskyblue;
  }
  50% {
    background-color: skyblue;
  }
  75% {
    background-color: deepskyblue;
  }
  100% {
    background-color: skyblue;
  }
}

@keyframes email {
  0% {
    right: -90px;
    bottom: 20%;
  }
  50% {
    right: -90px;
    bottom: 40%;
  }
  100% {
    right: -90px;
    bottom: 20%;
  }
}


/* -----------  MAX SCREEN WIDTH 1100 PX ---------------- */
@media only screen and (max-width: 1100px) {

    @keyframes scoobert {
  0% {
    background-color: gray;
    left: 25%;
  }
  25% {
    background-color: skyblue;
    left: 25%;
  }
  50% {
    background-color: gray;
    left: 0;
  }
  75% {
    background-color: skyblue;
    left: 0;
  }
  100% {
    background-color: gray;
    left: 25%;
  }
}
  
  @keyframes cherry {
  0% {
    background-color: skyblue;
    left: 25%;
  }
  25% {
    background-color: gray;
    left: 0;
  }
  50% {
    background-color: skyblue;
    left: 25%;
  }
  75% {
    background-color: gray;
    left: 0;
  }
  100% {
    background-color: skyblue;
    left: 25%;
  }
}

  
}


/* -----------  MAX SCREEN WIDTH 700 PX ---------------- */
@media only screen and (max-width: 700px) {
 
  .flex-container{
    flex-direction: column;
  }
  
}

/* -----------  MAX SCREEN WIDTH 520 PX ---------------- */
@media only screen and (max-width: 520px) {
  h1 {
    font-size: 40px;
    text-shadow: 2px 2px 10px #aaa;
  }

  #skeleton {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    float: right;
    max-height: 200px;
    width: auto;
    transition: filter 0.15s linear;
    order: 1;
  }
  
  #email{
    transform:rotate(0);
    margin-top: 30px;
    padding-top: 0px;
    position: relative;
    animation-duration: 4s;

  }
  
  @keyframes email {
  0% {
    right: 0;
    bottom: -5px;
  }
  50% {
    right: 25%;
    bottom: -5px;
  }
  100% {
    right: -0;
    bottom: -5px;
  }


}

/* -----------  MAX SCREEN HEIGHT 650 PX ---------------- */
@media only screen and (max-height: 650px) {
  #skeleton {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    float: right;
    max-height: 150px;
    width: auto;
    transition: filter 0.15s linear;
    order: 1;
  }
}
