body {
  background-color: #d4d4d4;
  padding: 0;
  margin: 0;
  border-width: 0;
  height: 100%;
}

h1 {
  font-size: 60px;
  text-shadow: 2px 2px 10px #aaa;
  margin-bottom: 0 !important;
}

header{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

#headwrapper {
  font-size: 60px;
  text-shadow: 2px 2px 10px #aaa;
  padding: 0;
  text-align: center;
  font-family: "Beth Ellen", cursive;
  transition: color 1s linear, background-image 2s linear;
  color: black;
}

#headwrapper:hover {
  color: white;
}

#click-sound {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 0;
  z-index: 1;
  transition: color 0.3s linear, font-size 0.3s linear, transform 0.3s linear, padding 0.3s linear;
}

#click-sound p{
    margin-top: 0;
}

#click-sound:hover {
  color: white;
  font-size: 0.9em;
  transform: rotate(1deg);
  padding: 0.15em;
}

#clock {
  text-align: center;
  padding: 10em, 10em;
  z-index: -1;
  top-margin: 2em;
  bottom-margin: 0;
}

#lenkie {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  text-align: center;
  top-margin: 0;
  bottom-margin: 0;
  width: 4em;
  opacity: 0.8;
  position: relative;
  z-index: 1;
  animation-name: moving;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

#lenkie a {
  transition: color 0.3s linear;
}

#lenkie:hover a {
  color: black;
}

@keyframes moving {
  0% {
    background-color: gray;
    left: 0px;
  }
  25% {
    background-color: skyblue;
    left: 100px;
  }
  50% {
    background-color: slategray;
    left: 100px;
  }
  75% {
    background-color: skyblue;
    left: 0px;
  }
  100% {
    background-color: gray;
    left: 0px;
  }
}

#cherry {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  text-align: center;
  top-margin: 0;
  bottom-margin: 0;
  width: 7em;
  opacity: 0.8;
  position: relative;
  animation-name: moving2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  z-index: 1;

}

cherry:a {
  transition: color 0.3s linear;
}

#cherry:hover a {
  color: black;
}

@keyframes moving2 {
  0% {
    background-color: skyblue;
    left: 100px;
  }
  25% {
    background-color: gray;
    left: 0px;
  }
  50% {
    background-color: skyblue;
    left: 100px;
  }
  75% {
    background-color: gray;
    left: 0px;
  }
  100% {
    background-color: skyblue;
    left: 100px;
  }
}

#email {
  transform: rotate(90deg);
  font-family: "Beth Ellen", cursive;
  background-color: black;
  width: auto;
  height: auto;
  position: fixed;
  padding: 0 1em 0.1em 1em;
  margin: 10px;
  float: right;
  opacity: 0.5;
  z-index: 1;
  transition: background-color 0.3s linear;
  animation-name: moving3;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes moving3 {
  0% {
    right: -95px;
    bottom: 200px;
  }
  25% {
    right: -95px;
    bottom: 400px;
  }
  50% {
    right: -95px;
    bottom: 200px;
  }
  75% {
    right: -95px;
    bottom: 400px;
  }
  100% {
    right: -95px;
    bottom: 200px;
  }
}

#email a {
  transition: color 0.3s linear;
}

#email:hover {
  background-color: white;
}

#email:hover a {
  color: black;
}

#pics {
  display: flex;
  flex-flow: space-evenly;
  align-items: flex-end;
  position: fixed;
  bottom: 10px;
  width: 100%;
}

#tornado {
  float: left;
  bottom: 0;
  allign: bottom;
  position: fixed;
  transition: filter 0.15s linear;
  max-height: 100px;
  width: auto;
  z-index: -1;
}

#tornado:hover {
  filter: invert(100%);
}

#skeleton {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0;
  position: fixed;
  float: right;
  max-height: 300px;
  width: auto;
  transition: filter 0.15s linear;
  z-index: -1;
}

#skeleton:hover {
  filter: invert(100%);
}

#foot-wrapper {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  position: fixed;
  left: 0;
  bottom: -3px;
  width: 100%;
  color: white;
  text-align: center;
}

/* -----------  MAX SCREEN WIDTH 520 PX ---------------- */
@media only screen and (max-width: 520px) {

  h1 {
    font-size: 40px;
    text-shadow: 2px 2px 10px #aaa;
  }

  #skeleton {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    float: right;
    max-height: 200px;
    width: auto;
    transition: filter 0.15s linear;
    order: 1;
  }

  #skeleton:hover {
  filter: invert(100%);
}


@keyframes moving {
  0% {
    background-color: gray;
    left: 0;
  }
  25% {
    background-color: skyblue;
    left: 75px;
  }
  50% {
    background-color: slategray;
    left: 75px;
  }
  75% {
    background-color: skyblue;
    left: 0;
  }
  100% {
    background-color: gray;
    left: 0;
  }
}

  @keyframes moving2 {
  0% {
    background-color: skyblue;
    left: 75px;
  }
  25% {
    background-color: gray;
    left: 0;
  }
  50% {
    background-color: skyblue;
    left: 75px;
  }
  75% {
    background-color: gray;
    left: 0;
  }
  100% {
    background-color: skyblue;
    left: 75px;
  }
}



/* -----------  MAX SCREEN HEIGHT 650 PX ---------------- */
@media only screen and (max-height: 650px) {

  @keyframes moving3 {
  0% {
    right: -95px;
    bottom: 75px;
  }
  25% {
    right: -95px;
    bottom: 150px;
  }
  50% {
    right: -95px;
    bottom: 75px;
  }
  75% {
    right: -95px;
    bottom: 150px;
  }
  100% {
    right: -95px;
    bottom: 75px;
  }
}

    #skeleton {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    float: right;
    max-height: 150px;
    width: auto;
    transition: filter 0.15s linear;
    order: 1;
  }

  #skeleton:hover {
  filter: invert(100%);
}
}
